* {
    background-color: rgb(253, 253, 242);
}

.h1 {
    color: cornflowerblue;
}

.logo{
    align-content: center;
    width: 5px;
    height: 5px;
}

.abtmephoto{
    align-content: center;

}

.abtmetext.p.a{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
