* {
    background-color: rgb(253, 253, 242);
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #f8c9ff;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 10%;
    height: 9rem;
    font-family: Times New Roman, Times, Serif;
    font-style: italic;
    font-size: 5rem;
    scroll-behavior: smooth;

.logo{
    position: absolute;
    width: 10rem;
    height: 10rem;
    }

.bella{
    position: absolute;
    top: 180%;
    left: 12rem;    
    width: 400px;
    height: 100px;
    transform: translate(50%, 50%);

    }
}

.about {
    width: 60%;
}
h1 {
    color: #FF85A2;
    font-size: 5rem;
}
h2 {
    color: #30BBCF;
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 3rem;
