* {
    background-color: rgb(253, 253, 242);
}

header {
.h1 {
    color: cornflowerblue;
    }

.logo{
    position: absolute;
    width: 500px;
    height: 500px;
    }

.bella{
    position: absolute;
    top: 180%;
    left: 12rem;    
    width: 400px;
    height: 100px;
    transform: translate(50%, 50%);

    }
}

.abtmetext.a{
   
}
